/* User */

.user-title {
	color: #000;
	display: flex;
	justify-content: center;
	font-family: "Poiret One", cursive;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
}

#user-container {
	display: flex;
	justify-content: center;
}

.vl {
	width: 1px !important;
	background-color: rgba(153, 1, 0, 1);
	height: 500px;
	padding: 0;
	margin: 0;
	flex: none;
}

.user-box, .submit-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.left {
	border-left: 1px solid rgba(153, 1, 0, 1);
	margin-right: -1px;
}

.right {
	border-right: 1px solid rgba(153, 1, 0, 1);
	margin-right: -1px;
}

.submit-btn {
	color: #fff;
	background-color: rgba(153, 1, 0, 1);
	text-transform: uppercase;
	width: 50%;
	height: 50px;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid transparent;
	transition: 0.5s;
}

.submit-btn:hover{
    background-color: #fff;
	color: rgba(153, 1, 0, 1);
    border: 1px solid rgba(153, 1, 0, 1);
    transition: 0.5s;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-icon{
    padding-right: 20px;
}

.modal-header, .btn-primary{
    color: #fff;
	background-color: rgba(153, 1, 0, 1);
    border: 1px solid rgba(153, 1, 0, 1);
}
